<?xml version="1.0"?>
<connectionStrings>
    <add name="Payday" 
         connectionString="Data Source=ARMORDB;
                           Initial Catalog=Payday_database;
                           User ID=website; 
                           password='dx!PrDTLRUw7'" 
         providerName="System.Data.SqlClient" />
  
    <add name="MLC" 
         connectionString="Data Source=ARMORDB;
                           Initial Catalog=MLC;
                           User ID=website; 
                           password='dx!PrDTLRUw7'" 
         providerName="System.Data.SqlClient" />
  
    <add name="EMG.Web"
         connectionString="Data Source=ARMORDB;
                         Initial Catalog=Dump_Database;
                         Persist Security Info=True;
                         User ID=website;
                         Password=dx!PrDTLRUw7"
         providerName="System.Data.SqlClient"/>
</connectionStrings>