<connectionStrings>
  <add name="STA"
    providerName="System.Data.SqlClient"
    connectionString="Server=DESKTOP-R0SENQ2\VADER;Database=STA;User ID=sa;Password=Zaq1@wsx;" />
  <add name="STAArchive"
  providerName="System.Data.SqlClient"
  connectionString="Server=DESKTOP-R0SENQ2\VADER;Database=STAArchive;User ID=sa;Password=Zaq1@wsx;" />
</connectionStrings>